extends layout

block content
  h1.mt-40=title
  hr
  br



  form(action='/articles/add' method='post' enctype="multipart/form-data")
    #form-group
      label Title:
      if article
        input.form-control(type='text' name='title' value=article.title)
      else
        input.form-control(type='text' name='title')
    br
    #form-group
      label Body:
      if article
        textarea.form-control(name='body' rows='10' cols='30')=article.body
      else
        textarea.form-control(name='body' rows='10' cols='30')
    br
    #form-group
      .input-group
        .custom-file
          input#article-picture.custom-file-input(type='file' name='image')
          label.custom-file-label(for='article-picture') Choose file
    br
    button.btn.btn-primary Send

  br
  br


