extends layout

block content
  h1.mt-40 Test Blog
  br

  each article in articles
    if article.image !== ''
      .post.row
        .col-3
          img.responsive-img(src='images/articles/'+article.image alt='Article Image')
        .col-9
          h3
            a(href="/articles/"+ article._id )= article.title
          p= article.body
    else
      .post
        h3
          a(href="/articles/" + article._id )= article.title
        p= article.body
