body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
}
.mt-40 {
  margin-top: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.messages-wrapper {
  margin-top: 20px;
}
.post {
  align-items: center;
  padding: 40px 30px 20px;
  margin-top: 20px;
  border-top: 1px solid #333;
  color: rgba(51,51,51,0.8);
}
.post a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.post a:hover {
  color: rgba(0,0,0,0.7);
}
.add-post-btn {
  text-decoration: none;
  background: rgba(0,0,255,0.5);
  padding: 15px 23px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
  display: inline-block;
}
.add-post-btn:hover {
  background: rgba(0,0,255,0.7);
}
.author {
  border-left: 1px solid rgba(255,255,255,0.8);
  padding-left: 20px;
  margin-left: 20px;
  font-size: 13px;
}
.delete-article {
  margin-left: 20px;
}
.article-wrapper {
  margin-top: 40px;
}
.article-wrapper h2 {
  margin-bottom: 20px;
}
.alert-error {
  color: rgba(170,153,68,0.267) 2;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.user-logged {
  color: #fff;
}
.responsive-img {
  width: 100%;
}
